
// Colors
$color-primary           : #7f8c8d;
$color-secondary         : #2ecc71;
$black                   : #000000;
$white                   : #FFFFFF;
$gray                    : #ecf0f1;
$dark-gray               : #444444;

// Fonts
$font-family-primary: "Lato", sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;